<div *ngIf="currentViggoEvent?.name === 'StuckInField'" class="container">

  <div class="info-panel">
    <b>
      Looks like you're having trouble with this field
    </b>
    <br/>
    <br/>
    dfdf

  </div>

  <img class="viggo-logo" src="../../../assets/visma-mov.gif"/>


</div>

<div *ngIf="currentViggoEvent?.name === 'dashboard'" class="container">

  <div class="info-panel">
    <b>
      Looks like you're trying to get more information in details.
    </b>
    <br />
    <br />
    Please go to this screen.

  </div>

  <img class="viggo-logo" src="../../../assets/visma-mov.gif" />


</div>
