.container {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 320px;
  background-color: #f2f2f2;
  border-left: 1px solid #eae3e3;
  height: 93.5%;
}

input {
  width:300px;
}

.info-panel {
  position: absolute;
  bottom: 214px;
  background-color: #e4dddd;
  padding: 10px;
  width: 300px;
  right: 10px;
  height: 75%;
  border-radius: 7px;
}

.viggo-logo {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 100px;
  right: 20px;
}

.close-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
