<div class="container" *ngIf="currentViggoEvent">
  <div class="info-panel" *ngIf="currentViggoEvent?.name === 'StuckInField'">
    <b>
      Looks like you're trying to get more information in details.
    </b>
    <br />
    <br />
    Please go to this screen.
  </div>

  <div class="info-panel" *ngIf="currentViggoEvent?.name === 'ValidationFailed'">
    <b>Looks like you're having trouble with Some Complex Field</b>
    <br />
    <br />
    fiedtred
  </div>

  <div class="info-panel" *ngIf="currentViggoEvent?.name === 'dashboard'">
    <b>
      Looks like you're trying to get more information in details.
    </b>
    <br />
    <br />
    Please go to this screen.
  </div>
  <div class="arrow-down"></div>
  <img class="viggo-logo" src="../../../assets/visma-mov.gif" />
  <button (click)="close()" class="btn btn-success close-button">Close</button>
</div>
