<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007aca">
  <img  style="height: 25px;" src="../../../assets/vismalogowhite.svg" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/sample-form">Sample Form <span class="sr-only">(current)</span></a>
      <div role="separator" class="divider"></div>
      <a class="nav-item nav-link active" routerLink="/prediction-form">Prediction Form <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/predicted-settings">Predicted Setting <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
